@import "tailwindcss";

/* Indispensable en Tailwind v4 pour que 'next-themes' et la classe .dark fonctionnent correctement */
@custom-variant dark (&:is(.dark *));

@theme {
  /* Notre palette de couleurs personnalisée */
  --color-brand-dark: #050505;
  --color-brand-light: #F8F9FA;
  --color-brand-textDark: #EDEDED;
  --color-brand-textLight: #111827;
  --color-brand-blue: #4285F4;
  --color-brand-red: #EA4335;
  --color-brand-yellow: #FBBC05;
  --color-brand-green: #34A853;   
}